# shellcheck shell=bash
# shellcheck disable=SC2148

# ensure project variables
export PRJ_ROOT="$PWD"
export PRJ_DATA="$PRJ_ROOT"

# ensure folders
mkdir -p "$PRJ_DATA"

# load flake
use flake

# allow custom overrides
source_env_if_exists .envrc.local
